<div id="projects">
  <div class="user-projects">
      <div class="contents contents-right">
          <h5>Project Title</h5>
          <p>Project Description</p>
          <ul>
              <li>Project Detail 1</li>
              <li>Project Detail 2</li>
              <li>Project Detail 3</li>
          </ul>
          <a href="#" class="project-link">Project Link</a>
      </div>
      <div class="images-left">
        <imgsrc="{{ "/assets/img/duke.jpeg" | prepend: site.baseurl }}" alt="duke" />
      </div>
  </div>
</div>

